<html>
	<head>
		<meta charset="UTF-8"/>
		<title>Vue</title>
		<script src="https://unpkg.com/vue"></script>
		<link rel="stylesheet" type="text/css" href="./css/index.css"/>
	</head>
	<body>
		<div id="app" :title="title">
			{{message}}<br />{{messageToUpperCase}}<br />
			<div v-if="Math.random() > 0.5">
			  Now you see me
			</div>
			<div v-else>
			  Now you don't
			</div>
			<div v-show="isShow">
				"isShow" is true;
			</div>
			<ul>
				<li v-for="(ls,i) in list" :class="{active: ls.isChecked}" @click="choose();">
					<input type="radio" name="check" v-bind:checked="ls.isChecked" />
					我叫<font v-bind:style="styles">{{ls.name | capitalize}}+{{i}}</font>，{{ls.sex | capitalize}}，今年{{ls.age}}岁。
					<label>Name: <input type="text" v-model="ls.name" /></label>
					<label>Sex: <input type="text" v-model="ls.sex" /></label>
					<label>Age: <input type="text" v-model="ls.age" /></label>
				</li>
			</ul>
			<ul>
				<todo-item v-for="item in list" v-bind:todo="item" v-bind:key="item.id">
					
				</todo-item>
			</ul>
			<span v-html="rawHtml"></span>
			<button @click="addUser">click</button>
			<ul>
				<template v-for="item in list">
				    <li class="divider">item:</li>
				    <li v-for="(value,key,index) in item">{{ index }}. {{ key }} : {{ value }}</li>
				</template>
			</ul>
			<div>
			  <span v-for="n in 10">{{ n }} </span>
			</div>
		</div>
		
		<script type="text/javascript" src="./js/index.js">
			
		</script>
	</body>
</html>