<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>index</title>
		<script src="https://unpkg.com/vue"></script>
		<link rel="stylesheet" type="text/css" href="./css/index2.css"/>
	</head>
	<body>
		
		<div id="app">
		  <input v-model="newTodoText" @keyup.enter="addNewTodo" placeholder="Add a todo" />
		  <ul>
		    <li is="todo-item" v-for="(todo, index) in todos" :key="index" :title="todo" @remove="todos.splice(index, 1)"></li>
		  </ul>
		  
		  <!--选取数组中的偶数-->
		  <ul>
		  	<li v-for="n in evenNumbers" class="list1">{{ n }}</li>
		  	<li v-for="n of even(numbers)" class="list2">{{ n }}</li>
		  	<li v-for="n of numbers" v-if="n%2===0" class="list3">{{ n }}</li>
		  </ul>
		</div>
		
		<script type="text/javascript" src="./js/index2.js"></script>
	</body>
</html>
